body {
  background: #f6efe8;

  font-family: "Playfair Display", serif;
}

.hero {
  height: 100vh;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  background-image: url("/bride.jpg");

  background-size: cover;

  color: white;

  text-align: center;
}

.title {
  font-size: 80px;

  color: #ffd700;
}

.subtitle {
  font-size: 24px;
}
